html {
    margin: 0;
}

/* styles pour le header */
header {
    background: #df2027;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    font-weight: bold;
}

.site-logo {
    position: relative;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 72px;
    transform: skewX(10deg);
    box-shadow: -6px 3px 10px #00000029;
    background-color: #fff;
}

.logo {
    width: 100px;
    height: 48px;
}

.rightHeader {
    width: 1%;
}

/* styles pour le premier niveau de navigation */
.rankingChoice {
    background: #df2027;
    display: flex;
    justify-content: space-around;
}

.btn {
    display: block;
    text-align: center;
    width: 6em;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #df2027;
    /* background: radial-gradient(circle at center, red 0, white); */
    border: 0;
}

.btn a {
    display: block;
    text-decoration: none;
    color: white;
}

/* styles pour le deuxième niveau de navigation */
.disciplineChoice {
    background: #df2027;
    display: flex;
    justify-content: space-around;
}

.btn2 {
    display: block;
    font-family: 'Indie Flower', cursive;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #df2027;
    border: 0;
}

/* styles pour la page */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;;
}

h1 {
    text-align: center;
}

/* styles pour l'affichage  du feed */
h2 {
    margin-left: .1em;
}

.points {
    display: flex;
    align-items: center;
}

.points * {
    margin-left: 1em;
    margin-right: 1em;
}

.flag {
    display: block;
    width: 75px;
    height: 50px;
    border: 1px solid black;
}

/* style pour le loader */
.loader {
    margin: auto;
    margin-top: 150px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #df2027; /* BWF red */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .hide {
      display: none;
  }