html {
    margin: 0;
}

header {
    background: #df2027;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    font-weight: bold;
}

.site-logo {
    position: relative;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 108px;
    transform: skewX(10deg);
    box-shadow: -6px 3px 10px #00000029;
    background-color: #fff;
}

.rightHeader {
    width: 20%;
}

.rankingChoice, .disciplineChoice {
    background: #df2027;
    display: flex;
    justify-content: space-between;
}

.btn, .btn2 {
    display: flex;
    justify-content: center;
    width: 8em;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #df2027;
    /* background: radial-gradient(circle at center, red 0, white); */
    border: 0;
}

.btn2 {
    font-size: 1em;
    width: 6em;
}

.btn a {
    display: block;
    text-decoration: none;
    color: white;
}

.leftSpace, .rightSpace {
    width: 25%;;
    background-color: #df2027;
}

.middleSpace {
    width: 49%;
    display: flex;
    justify-content: space-between;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: .1em;
}

.points {
    display: flex;
    align-items: center;
}

.points * {
    margin-left: 1em;
    margin-right: 1em;
}

.flag {
    display: block;
    width: 75px;
    height: 50px;
    border: 1px solid black;
}